<ion-header class="header1">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Meal-Ideas</ion-title>
        <span class="icon-search" routerLink="/search" slot="end"></span>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6" routerLink="/grocery-list">
                <div class="list_box_1">
                    <img src={{image_url}}{{image}}>
                    <!-- <h4>Grocery  List</h4> -->
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="list_box_1">
                    <h3>{{title}}</h3>
                    <h5>{{heading}}</h5>
                    <div class="rating">
                        <h5>{{authentic}}</h5>
                        <p><span class="icon-Star-fill"></span><span class="icon-Star-fill"></span><span class="icon-Star-fill"></span><span class="icon-Star-fill"></span><span class="icon-Star-unfill"></span>(128) reviews</p>
                    </div>
                    <div class="m_b">
                        <span>115 views today</span>
                        </div>

                    <div class="a_b">
                        <span>{{credit_link}}</span>
                        <ion-icon *ngIf="!liked" name="heart-outline" (click)="like(1)"></ion-icon>  
                        <ion-icon style="color: #9D4CDF;" *ngIf="liked" name="heart" (click)="like(0)"></ion-icon> 
                    </div>
                </div>
            </ion-col>
        </ion-row>

        <ion-row> 
            <ion-col size="12">
                <h6>Description</h6>
                <p>
                    {{description}} 
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list>
        <ion-item class="reds">
            <span slot="start" class="icon-Shuffle"></span>
            <ion-label>All Ingredients</ion-label>
        </ion-item>
        <ion-item *ngFor="let item of ingredient_list let i = index">
            <span slot="start">{{i+1}}</span>
            <ion-label>{{item.title}}</ion-label>
            <span class="green">1 lbs</span>
            <span class="icon-add" slot="end"></span>
        </ion-item>

    </ion-list>

</ion-content>