<ion-header class="header1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
    <ion-label class="text" slot="end" (click)="delete_notification('','ALL')"
      >CLEAR ALL</ion-label
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Sliding item with text options on both sides -->
    <ion-item-sliding *ngFor="let item of data">
      <ion-item lines="none" (click)="open_notification(item.description)">
        <span slot="start" class="name">SM</span>
        <ion-label>
          <p>{{item.title}}</p>
          <span>{{item.created_at | date: 'MM/dd/yyyy h:mm a'}}</span>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option style="--background: #9d4cdf" (click)="delete_notification(item.id,'SINGLE')">
          <!-- <ion-img src="assets/img/trash.png"></ion-img> -->
          <ion-icon name="trash-bin-sharp" style="background-color: #9D4CDF; font-size: 20px;"></ion-icon> 
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>

  <div class="plac" *ngIf="data.length<=0"> 
    <ion-label>Notifications not available</ion-label>
  </div>
</ion-content>
