<ion-header class="header1">
  <ion-toolbar>
      <ion-buttons slot="start">
          <!-- <ion-back-button icon="chevron-back-outline" text="" defaultHref="/"></ion-back-button> -->
      </ion-buttons>
      <ion-title>Payment Sucess</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="payment_se">
    <img src="assets/img/payment.png" alt="">
    <h4>Congratulations</h4>
    <p>Your Payment has been Sucessfully done</p>
    </div>
    <img src="assets/fireworks02.gif" alt="">
</ion-content>
<ion-footer>
  <ion-button (click)="ok()" class="cus_btn">OK</ion-button>
</ion-footer>
