ion-header {
    ion-toolbar {
        --background: white;
    }
}

ion-content {
    // .errorclassb{
    //     border: solid 1px #ce1818;
    // }
    // .successclassb{
    //     border: solid 1px #8C8C8C;
    // }
    .top_head {
        padding: 30px 15px;
        text-align: center;
        h2 {
            font-size: 31px;
            color: black;
            font-weight: bold;
        }
        p {
            font-size: 13px;
            padding: 0 40px;
            color: black;
        }
    }
    ion-grid {
        padding: 15px 15px 0;
        ion-row {
            ion-col {
                margin-bottom: 15px;
                ion-label {
                    font-size: 13px;
                    color: #000000;
                    margin-bottom: 10px;
                    display: block;
                }
                ion-input {
                   // border: solid 1px #8C8C8C;
                    border-radius: 10px;
                    height: 50px;
                    --padding-start: 15px;
                    background: #FFF;
                    color: #8C8C8C;
                }
            }
        }
    }
    ion-text {
        display: block;
        font-size: 13px;
        text-align: right;
        padding: 0 15px 10px;
        color: #000000;
    }
    .l_b {
        text-align: center;
        font-size: 13px;
        padding: 30px 0 0;
        color: #000;
        span {
            color: #9D4CDF;
            font-weight: 600;
        }
    }
}