<ion-header class="header2 mx-0 px-0">
  <ion-toolbar class="px-0 mx-0">
      <div class="d-flex justify-content-start "> <ion-icon style="margin: 15px;" (click)="goBack()" name="chevron-back-outline"></ion-icon>
        <!-- <img class="pt-1 pl-1" (click)="goBack()"  src="{{ 'assets/img/svg/arrow-left.svg'}}" alt=""> -->
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <div class="d-flex justify-content-start "> <img class="pt-1 pl-1" (click)="goBack()"  src="{{ 'assets/img/svg/arrow-left.svg'}}" alt=""></div> -->
  <div class="top_head mt-5 pt-5">
      <h2>Reset Password</h2>
      <p>Create your new password.</p>
  </div>
  <ion-grid [formGroup]="repasswordForm">
      <ion-row>
        <ion-col size="12">
          <ion-label>Enter New Password</ion-label>
          <ion-input [type]="n_passwordType" formControlName="password" placeholder="Enter new password" class="{{submmited && f.password.errors ?'errorclassb':'successclassb'}}" maxlength='15'></ion-input>
          <ion-icon item-end [name]="n_passwordIcon" class="icon" (click)='n_hideShowPassword()'></ion-icon>

          <div *ngIf="getFormControl('password').invalid  && (getFormControl('password').dirty || getFormControl('password').touched)"
          class="my-0 py-0 text-danger" style="font-size: 10px;">
          <p *ngIf="getFormControl('password').errors.required" class="my-0 py-0 text-danger">
              Password is required.
          </p>
          <p *ngIf="(!getFormControl('password').errors.required )&& (getFormControl('password').errors.passwordName)" class="my-0 py-0 text-danger">
              Password must be a minimum of 8 characters including number, Upper, Lower And 
              one special character.
            </p>
          
          
          </div>
      </ion-col>
      <ion-col size="12">
        <ion-label>Enter Confirm New Password</ion-label>
        <ion-input [type]="r_passwordType" formControlName="repassword" placeholder="Enter Confirm New password" class="{{submmited && f.repassword.errors ?'errorclassb':'successclassb'}}" maxlength='15'></ion-input>
        <ion-icon item-end [name]="r_passwordIcon" class="icon" (click)='r_hideShowPassword()'></ion-icon>
        
        <div *ngIf="getFormControl('repassword').invalid  && (getFormControl('repassword').dirty || getFormControl('repassword').touched)"
        class="my-0 py-0 text-danger" style="font-size: 10px;">
        <p *ngIf="getFormControl('repassword').errors.required" class="my-0 py-0 text-danger">
            Re-Password is required.
        </p>
        <p *ngIf="(!getFormControl('repassword').errors.required )&& (getFormControl('repassword').errors.passwordName)" class="my-0 py-0 text-danger">
            Re-Password must be a minimum of 8 characters including number, Upper, Lower And 
            one special character.
          </p>
        
        
        </div>
    </ion-col>
      </ion-row>
  </ion-grid>
  <ion-button class="cus_btn" (click)="resetPassSubmit()">Send</ion-button>
  <p class="l_b">Don't have an account?<span routerLink="/auth/sign-up"> Sign Up</span></p>
</ion-content>