<ion-header class="header1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-item style="border: none; color: #9D4CDF;"><h6 style="font-weight: bolder;">Items</h6></ion-item>
  <ion-list>
    <ion-item *ngFor="let item of products let i = index" lines="none">
      <ion-label>{{item.name}}
        <span  class="quantity">
          <ion-icon name="remove-circle-outline" (click)="decrement(item.id, i)"></ion-icon>
          <span>{{item.quantity}}</span>
          <ion-icon name="add-circle-outline" (click)="increment(item.id, i)"></ion-icon>
        </span>
      </ion-label>
     <span slot="start"><img src="{{image_url}}{{item.images[0]}}" onerror="this.src='../../assets/img/item_placeholder.png'" alt=""></span>
      
      <span class="price" slot="end">$ {{item.price * item.quantity}}</span>
    </ion-item>

    
  </ion-list>

  <ion-item>
    <span style="color: #9D4CDF; font-weight: bolder;" slot="start">Total</span>
    <span style="font-weight: bolder;" slot="end">$ {{total}}</span>
  </ion-item>

  <ion-list mode="md" lines="none" class="ion-list">
    <ion-radio-group allow-empty-selection="true" name="radio-group" (ionChange)="radioGroupChange($event, 'CARD')" #radioGroup>
    <ion-list-header >
      <ion-label style="color: #9D4CDF; font-weight: bolder;" (click)="show_saved_cards()"> Saved Card 
        <ion-icon name="chevron-up-outline" slot="end" *ngIf="saved_card"></ion-icon>
        <ion-icon name="chevron-down-outline" slot="end" *ngIf="!saved_card"></ion-icon>
      </ion-label>
     
    </ion-list-header>
    <div *ngIf="saved_card">
      <ion-item *ngFor="let item of cards" (ionSelect)="radioSelect($event)"> 
      <ion-thumbnail><ion-icon name="card" ></ion-icon></ion-thumbnail>
      <ion-text class="fwhite f14 tu">xxxxxxxx-{{item.last4}}</ion-text>
      <ion-icon slot="end" name='trash-bin' style="color: #9D4CDF;"></ion-icon>
      <ion-radio slot="start" value="{{item.id}}"></ion-radio>
    </ion-item>
  </div>
</ion-radio-group>
  </ion-list>

  <ion-list mode="md" lines="none" class="ion-list">
    <ion-list-header>
      <ion-label style="color: #9D4CDF; font-weight: bolder;" (click)="open_add_new_card()">Add New Card
        <ion-icon name="chevron-up-outline" slot="end" *ngIf="add_new_card"></ion-icon>
        <ion-icon name="chevron-down-outline" slot="end" *ngIf="!add_new_card"></ion-icon>
      </ion-label>
    </ion-list-header>

    <form [formGroup]="addCardForm" *ngIf="add_new_card" >
      <ion-grid class="ion-no-padding">
        <ion-row>
          
          <ion-col size="12">
            <ion-item class="radius">
              <ion-input placeholder="Name on Card" formControlName="card_name"  maxlength="45"></ion-input>
              <!-- <ion-input type="text" placeholder="Name on card" formControlName=""></ion-input> -->
            </ion-item>
          </ion-col>
  
          <ion-col size="12">
            <ion-item class="radius">
              <ion-input placeholder="Card Number" type="tel" formControlName="card_number"  maxlength="16"></ion-input>
              <!-- <ion-input type="text" placeholder="Card Number" formControlName=""></ion-input> -->
            </ion-item>
          </ion-col>
  
          <ion-col s ize="6">
            <ion-item class="radius">
              <ion-datetime formControlName="expiry_date" min="{{today}}" max="{{max}}" displayFormat="MM/YY" class="border" placeholder="Expiry Date">
              </ion-datetime>
              <!-- <ion-input type="text" placeholder="MM/YY" formControlName=""></ion-input> -->
            </ion-item>
          </ion-col>
  
          <ion-col size="6">
            <ion-item class="radius">
              <ion-input placeholder="CVV" type="tel" formControlName="cvv" maxlength="3"></ion-input>
              <!-- <ion-input type="text" placeholder="CVV" formControlName=""></ion-input> -->
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      </form>

         <ion-grid *ngIf="add_new_card">
      <ion-row>
        <ion-col size="12" style="display: flex;" color="ion-no-padding">
          <ion-checkbox mode="md" [(ngModel)]="save"></ion-checkbox>
          <label>
            Save card securely
          </label>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-list>

</ion-content>
<ion-footer>
  <ion-button *ngIf="add_new_card" class="cus_btn" (click)="addCard(addCardForm.value)">Make Payment</ion-button>
  <ion-button *ngIf="saved_card" class="cus_btn" (click)="make_payment('CARD')">Make Payment</ion-button>
</ion-footer>