<ion-header class="header1">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Recommended</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" routerLink="/grocery-list">
        <div class="list_box_1">
          <img src={{image_url}}{{thumbnail}} alt="">
          <!-- <h4>Recommended
            List</h4> -->
         </div> 
      </ion-col>
      <ion-col size="6">
        <div class="list_box_1">
          <h3>{{title}}</h3>
          <!-- <p><span class="icon-add"></span> Add All</p> -->
          <div class="r_people">
            <h6><span class="icon-Account"></span>4 people</h6>
           </div> 
         </div> 
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>
      <span slot="start"></span>
      <ion-label style="color: #9D4CDF;">All Items</ion-label>
    </ion-item>
    <ion-item *ngFor="let item of ingredients let i = index">
      <span slot="start">{{i+1}}</span>
      <ion-label>{{item.title}}</ion-label>
      <span class="icon-add" slot="end"></span>
    </ion-item>

  </ion-list>

</ion-content>
