<ion-header class="header1">

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
        <ion-icon class="share_btn" slot="end" name="arrow-redo" (click)="share_list()"></ion-icon>
    </ion-toolbar>

    <!-- <ion-searchbar *ngIf="toggled"
    [(ngModel)]="someValue"
    (ionInput)="search2($event)"
    (ionCancel)="cancelSearch($event)"
    (ionClear) ="cancelSearch($event)"
    (keyup.enter)="searchThis($event)"
    ></ion-searchbar> -->
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6" routerLink="/grocery-list">
                <div class="list_box_1">
                    <img src="assets/img/grocery-list.png" alt="">
                    <h4>{{title}}</h4>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="list_box_1">
                    <h3>{{title}}</h3>
                    <p *ngIf="!toggled" (click)="toggle()"> Search</p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list>
        <ion-item>
            
            <ion-label class="red">All Items</ion-label>
        </ion-item>
        <ion-item *ngFor="let item of ingredients">
            
            <ion-label>
                <span slot="start"><img class="img" src={{image_url}}{{item.images[0]}} onerror="this.src='../../assets/img/item_placeholder.png'" alt=""></span>
                {{item.name}} ({{item.quantity}})</ion-label>
                <ion-icon slot="end" name="trash-outline" (click)="delete_ingredient(item.id)"></ion-icon>
        </ion-item>

       
    </ion-list>

</ion-content>

<ion-footer>
    <ion-button class="cus_btn" (click)="show_store()">SHOW STORE</ion-button>

</ion-footer>