<ion-header class="header1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Create New List</ion-title>
    <ion-icon *ngIf="!toggled" (click)="toggle()" slot="end" name="search-outline"></ion-icon>
  </ion-toolbar>
  <ion-searchbar *ngIf="toggled"
  [(ngModel)]="someValue"
  (ionInput)="search2($event)"
  (ionCancel)="cancelSearch($event)"
  (ionClear) ="cancelSearch($event)"
  (keyup.enter)="searchThis($event)"
  ></ion-searchbar>
</ion-header>

<ion-content>
  <ion-grid [formGroup]="form">
    <ion-row>
      <ion-col size="12">
        <ion-label>List Name</ion-label>
        <ion-input formControlName="name" placeholder="Grocery List" class="{{submmited && f.name.errors ?'errorclassb':'successclassb'}}"></ion-input>
        <div *ngIf="getFormControl('name').invalid && (getFormControl('name').dirty || getFormControl('name').touched)"
        class="my-0 py-0 text-danger" style="font-size: 10px;">
    
      <div *ngIf="getFormControl('name').errors.required" class="my-0 py-0 text-danger">
        Name is required.
      </div>
    
    
    
    </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    
    <ion-item lines="none">
      <ion-label class="red">Add Items</ion-label>
    </ion-item>

    <ion-item lines="none" *ngFor="let item of data let i = index">
      <span slot="start"><img src={{image_url}}{{item.images[0]}} onerror="this.src='../../assets/img/item_placeholder.png'" alt="" /></span>
      <ion-label>{{item.name}}</ion-label>
      <span (click)="add_item(item.id,i)" *ngIf="!checkForItem(item.id)" class="icon-add" slot="end"></span>
      <ion-label *ngIf="checkForItem(item.id)" slot="end" class="added_list">
        <p>Added</p>
        <span (click)="remove_item(item.id,i)"><ion-icon name="trash-outline"></ion-icon></span>
      </ion-label>
    </ion-item>


  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="LoadMore">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-button *ngIf="!saved" (click)="save()"  class="cus_btn black" 
    >SAVE</ion-button
  >
  <ion-button *ngIf="saved"  class="cus1 black" 
    >SAVED</ion-button>
  <ion-button class="cus_btn" (click)="show_store()">SHOW STORE</ion-button>
</ion-footer>
