ion-content {
    .safy_awer {
        padding: 15px 0 15px 15px;

        ul {
            margin: 0;
            padding: 0 0px;
            li {
                font-size: 13px;
                list-style: none;
                color: #000000;
                margin: 0 0 20px;
            }
        }
    }
}
