<div class="popup_outer">
  <ion-icon name="close" class="closebtn" (click)="closeModal()"> </ion-icon>
  <div class="popupinner">
    <h4>Already contain item</h4>
    <p>you have added items from other store.Adding items from this store will require deleting previous items.</p>
<div class="btn">
    <ion-button class="remove" routerLink="/my-stores" (click)="closeModal()">Remove</ion-button>
    <ion-button class="cus_btn" routerLink="/stores-list">Continue</ion-button>
</div>
  </div>

</div>