<ion-header class="header1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Safety Awareness</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of cat_list let i = index" size="5">
         <ion-button (click)="list(item.id, i)" class="{{item.clicked ?'btn_active':'btn_inactive'}}" >{{item.name}}</ion-button>
      </ion-col>
      </ion-row>
  </ion-grid>
<ion-list >
  
  <ion-item  lines="none" *ngFor="let item of List" (click)="safety_awareness(item.id)">
    <span slot="start"><img src="{{image_url}}{{item.profile_image}}" onerror="this.src='../../assets/img/svg/user.svg'" alt=""></span>
    <ion-label>
      <h4>{{item.title}}</h4>
      <p>{{item.updated_at |dateAgo}}</p>
    </ion-label>
  </ion-item>

  <div class="plac" *ngIf="List.length<=0"> 
    <ion-label>Not found</ion-label>
  </div>
</ion-list>
</ion-content>