ion-content {
    ion-grid{
        ion-row{
            flex-wrap: inherit;
    overflow: scroll;
           
        }
    }
ion-list{
    ion-item{
        span{
            margin-right: 10px;
            img{
                width: 45px;
    height: 45px;
    border-radius: 10px;
            }
        }
        ion-label{
            white-space: inherit;
            h4{
                font-size: 14px;
                font-weight: 300;
            }
            p{
                font-size: 12px;
                color: #9D4CDF;
            }
        }
    }
}
}


.btn_active{
    display: block;
    --background: #9D4CDF;
    --border-radius: 10px;
    --color: white;
    --box-shadow: none;
    margin: 10px 15px;
    font-family: 'SF UI Text Semibold';
    height: 50px;
    width: 100%;
}

.btn_inactive{
    display: block;
    --background: #F0F0F0;
    --border-radius: 10px;
    --color: #868686;
    --box-shadow: none;
    width: 100%;
    margin: 10px 15px;
    font-family: 'SF UI Text Semibold';
    height: 50px;
}
.plac{
    text-align: center;
    border: none;
    margin-top: 50%;
}