<ion-header class="header1"> 
    <ion-toolbar>
       
        <ion-buttons slot="start">
            <ion-menu-button *ngIf="page!=='two-factor'"><span class="icon-menu"></span></ion-menu-button>
        </ion-buttons>
        <ion-title >Questionnaire</ion-title>

        <ion-label class="text" slot="end" (click)="skip()">SKIP</ion-label>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let list of checkboxlist">
            <ion-label>{{list.title}}</ion-label>
            <ion-checkbox *ngIf="!list.selected" (ionChange)="checked($event, list.id)"></ion-checkbox>
            <ion-checkbox *ngIf="list.selected" (ionChange)="checked($event, list.id)" checked></ion-checkbox>
        </ion-item>
       </ion-list>

</ion-content>

<ion-footer (click) = "next()">
    <ion-button class="cus_btn" >Next</ion-button>

</ion-footer>