<ion-header>
    <ion-toolbar>
       
        <ion-buttons slot="start">
            <ion-menu-button><span class="icon-menu"></span></ion-menu-button>
        </ion-buttons>
        <ion-title>Questionnaire</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Vegetarian</ion-label>
            <ion-checkbox mode="md" checked slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Vegan</ion-label>
            <ion-checkbox mode="md" slot="end"></ion-checkbox>
        </ion-item>

        <ion-item>
            <ion-label>Allergies</ion-label>
            <ion-checkbox mode="md" slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Gluten</ion-label>
            <ion-checkbox mode="md" slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Inexpensive</ion-label>
            <ion-checkbox mode="md" checked slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Quality Products</ion-label>
            <ion-checkbox mode="md" slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Regular diet</ion-label>
            <ion-checkbox mode="md" slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Low sodium diet</ion-label>
            <ion-checkbox mode="md" slot="end"></ion-checkbox>
        </ion-item>
    </ion-list>

</ion-content>

<ion-footer>
    <ion-button class="cus_btn" routerLink="/home">Next</ion-button>

</ion-footer>