<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Past-Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-label>
        <h4>$9.95</h4>
        <p>22-04-2021 | 12:00 PM</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item lines="none">
      <ion-label>Flour </ion-label>
     <span slot="start"><img src="assets/img/cover.png" alt=""></span>
      <span slot="end">5 kg</span>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Flour </ion-label>
      <!-- <ion-checkbox color="primary"  slot="start"></ion-checkbox> -->
      <span slot="start"><img src="assets/img/cover.png" alt=""></span>
      <span slot="end">5 kg</span>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Flour </ion-label>
    <span slot="start"><img src="assets/img/cover.png" alt=""></span>
      <span slot="end">5 kg</span>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Flour </ion-label>
    <span slot="start"><img src="assets/img/cover.png" alt=""></span>
      <span slot="end">5 kg</span>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Flour </ion-label>
    <span slot="start"><img src="assets/img/cover.png" alt=""></span>
      <span slot="end">5 kg</span>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Flour </ion-label>
    <span slot="start"><img src="assets/img/cover.png" alt=""></span>
      <span slot="end">5 kg</span>
    </ion-item>
  </ion-list>

</ion-content>
