ion-content {
    ion-list {
        ion-item {
            display: flex;
            align-items: center;
            border-bottom: solid 1px #ddd;
            margin: 0 15px 15px;
            --padding-start:0;
            --inner-padding-end: 0;
            ion-label {
                h4 {
                    font-size: 14px;
                    color: #000;
                    font-weight: 600;
                }
                p {
                    font-size: 14px;
                }
            }
            span{
                margin-right: 10px;
                margin-left: 0;
                img{
                    width: 40px;
                    margin-right: 10px;
                    height: 40px;
                }
            }
        }
    }
}
.quantity{
    color: gray;
    font-size: 15px;
    float: right;
    display: flex;
    margin: 5px;
    
}

.price{
    font-size: 16px;
}