<ion-header class="header1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item style="border: none;" lines="none">
      <ion-label>
          <h4>{{store_name}}</h4>
          <p>{{order_time | date: 'MM/dd/yyyy h:mm a'}}</p>
      </ion-label>
      <span slot="start"><img src="{{image_url}}{{store_image}}" onerror="this.src='../../assets/img/item_placeholder.png'"alt=""></span>
      <span style="margin-top: 20px; font-size: 15px; font-weight: bold; color: #9D4CDF;" slot="end" >$ {{order_amount}}</span>
  </ion-item>
  </ion-list>
<ion-item style="border: none; color: #9D4CDF;"><h6 style="font-weight: bolder;">Items</h6></ion-item>
  <ion-list>
    <ion-item lines="none" *ngFor="let item of data">
      <ion-label>{{item.item_name}}
        <span  class="quantity">{{item.quantity}}</span>
      </ion-label>
     <span slot="start"><img src="{{image_url}}{{item.image}}" onerror="this.src='../../assets/img/item_placeholder.png'" alt=""></span>
      
      <span class="price" slot="end">$ {{item.price}}</span>
    </ion-item>

  </ion-list>

</ion-content>
