ion-content {
    ion-list {
        padding-top: 20px;
        ion-item {
            align-items: center;
            border-bottom: solid 1px #ccc;
            margin-bottom: 20px;
            --padding-bottom: 10px;
            .u-img {
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 10px;
                }
                margin-right: 10px;
                
            }
            ion-label {
                white-space: inherit;
                margin: 0;
                h5 {
                    font-size: 14px;
                }
                p {
                    font-size: 12px;
                    line-height: 17px;
                }
            }
            p{
                margin-left: 0;
            }
        }
    }
}
.review_images{
    padding: 5px;
    height: 80px; 
    width: 100px;
    img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
    }
}
.plac{
    text-align: center;
    border: none;
    margin-top: 50%;
}