<ion-header class="header1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" text='' defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Reviews & Rating</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let item of data let i =index">
    <ion-item lines="none" >
      <span slot="start" class="u-img"><img src="{{image_url}}{{item.profile_image}}" alt="" onerror="this.src='../../assets/img/svg/Account.svg'"></span>
      <ion-label (click)="open_images(i)">
        <h5>{{item.name}}</h5>
        <p>{{item.comment}}</p>
      </ion-label>
      <div style=" justify-content: flex-start;" class="ratingCust">
        <!-- <div [data-rating]="item.rating" ></div> -->
        <app-rating [rating]="item.rating"></app-rating>
  
</div>


      <!-- <p slot="end">
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-unfill"></span>
      </p> -->
    </ion-item>
    <ion-item *ngIf="data[i].open && data[i].pictures.length>2">    
      <div class="review_images"   *ngFor="let image of review_images let i = index">
        <img src="{{image_url}}{{image}}">
      </div>
       </ion-item>
  </div>
  </ion-list>
  <div class="plac" *ngIf="data.length<=0"> 
    <ion-label>No Reviews Available</ion-label>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>