<ion-header class="header1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" text='' defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Reviews & Rating</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <span slot="start" class="u-img"><img src="../../assets/img/user.png" alt=""></span>
      <ion-label>
        <h5>Jony Kame</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </ion-label>
      <p slot="end">
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-unfill"></span>
      </p>
    </ion-item>
    <ion-item lines="none">
      <span slot="start" class="u-img"><img src="../../assets/img/user.png" alt=""></span>
      <ion-label>
        <h5>Jony Kame</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </ion-label>
      <p slot="end">
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-unfill"></span>
      </p>
    </ion-item>
    <ion-item lines="none">
      <span slot="start" class="u-img"><img src="../../assets/img/user.png" alt=""></span>
      <ion-label>
        <h5>Jony Kame</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </ion-label>
      <p slot="end">
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-unfill"></span>
      </p>
    </ion-item>
    <ion-item lines="none">
      <span slot="start" class="u-img"><img src="../../assets/img/user.png" alt=""></span>
      <ion-label>
        <h5>Jony Kame</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </ion-label>
      <p slot="end">
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-unfill"></span>
      </p>
    </ion-item>
    <ion-item lines="none">
      <span slot="start" class="u-img"><img src="../../assets/img/user.png" alt=""></span>
      <ion-label>
        <h5>Jony Kame</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </ion-label>
      <p slot="end">
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-fill"></span>
        <span class="icon-Star-unfill"></span>
      </p>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>