<ion-header class="header1">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>My Stores</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item lines="none" *ngFor="let item of data; let i = index">
      <span slot="start" class="u-img" (click)="open_shopping_list(item.id)"><img src="{{image_url}}{{item.store_images[0]}}" onerror="this.src='../../assets/img/item_placeholder.png'" alt=""></span>
      <ion-label (click)="open_shopping_list(item.id)">
        <h5>{{item.store_name}}</h5>
        <h6>{{item.address}}</h6>
        <p class="loc"><span>
            <ion-icon name="location"></ion-icon> {{item.distance | number: '1.2-2'}} Miles
            away
          </span></p>
      </ion-label>
      <ion-label slot="end" class="rating_sec">
        
          <ion-icon class="heart" name="heart" (click)="like(item.id,0)"></ion-icon>
        
    <div class="ratingCust" style="justify-content: flex-end">
          <rating [rate]="item.avg_rating"
          [readonly] = "true"
          size = "small"
          (ngModelChange)="onRateChange($event)">
    </rating>
  </div>
        <span (click)="ratings(item.id)">({{item.review_count}} reviews)</span>
      </ion-label>
    </ion-item>
    
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>