<ion-header class="header1">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>My Stores</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item lines="none" *ngFor="let item of data; let i = index">
      <span slot="start" class="u-img"><img src="{{image_url}}{{item.store_images[0]}}" alt=""></span>
      <ion-label>
        <h5>{{item.store_name}}</h5>
        <h6>1242 North ave</h6>
        <p class="loc"><span>
            <ion-icon name="location"></ion-icon> {{item.distance | number: '1.2-2'}} Miles
            away
          </span></p>
      </ion-label>
      <ion-label slot="end" class="rating_sec">
        
          <ion-icon class="heart" name="heart" (click)="like(item.id,0)"></ion-icon>
        
        <p >
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-unfill"></span>
        </p>
        <span>({{item.review_count}} reviews)</span>
      </ion-label>
    </ion-item>
    
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>