ion-content {
  ion-list {
    padding-top: 20px;
    ion-item {
      align-items: baseline;
      border-bottom: solid 1px #ccc;
      margin-bottom: 20px;
      --padding-bottom: 10px;
      .u-img {
        margin-right: 10px;

        img {
          width: 50px;
          height: 50px;
          border-radius: 10px;
        }
      }
      ion-label {
        white-space: inherit;
        margin: 0;
        h5 {
          font-size: 20px;
          font-weight: bold;
        }
        h6 {
          font-size: 12px;
          margin: 10px 0 3px;
        }
        p {
          &.loc {
            font-size: 12px;
            color: #9d4cdf;
          }
        }
        &.rating_sec {
          text-align: right;
          .fill{
            color: #9d4cdf;
          }
          span {
            font-size: 10px;
            color: #868686;
          }
        }
      }
      p {
        margin-left: 0;
     
      }
    }
  }
}
.heart{
  color: #9D4CDF;
}

