<ion-header class="header1">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>My Stores</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item lines="none" (click)="optionModal()">
      <span slot="start" class="u-img"><img src="../../assets/img/my-store.png" alt=""></span>
      <ion-label>
        <h5>Kroger</h5>
        <h6>1242 North ave</h6>
        <p class="loc"><span>
            <ion-icon name="location"></ion-icon> 20 Miles Ways
          </span></p>
      </ion-label>
      <ion-label slot="end" class="rating_sec">
        
          <ion-icon name="heart-outline"></ion-icon>
        
        <p >
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-unfill"></span>
        </p>
        <span>(128 reviews)</span>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <span slot="start" class="u-img"><img src="../../assets/img/my-store.png" alt=""></span>
      <ion-label>
        <h5>Kroger</h5>
        <h6>1242 North ave</h6>
        <p class="loc"><span>
            <ion-icon name="location"></ion-icon> 20 Miles Ways
          </span></p>
      </ion-label>
      <ion-label slot="end" class="rating_sec">
        
          <ion-icon name="heart-outline"></ion-icon>
        
        <p (click)="ratings()">
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-unfill"></span>
        </p>
        <span>(128 reviews)</span>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <span slot="start" class="u-img"><img src="../../assets/img/my-store.png" alt=""></span>
      <ion-label>
        <h5>Kroger</h5>
        <h6>1242 North ave</h6>
        <p class="loc"><span>
            <ion-icon name="location"></ion-icon> 20 Miles Ways
          </span></p>
      </ion-label>
      <ion-label slot="end" class="rating_sec">
        
        <ion-icon name="heart" class="fill"></ion-icon>
        
        <p>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-unfill"></span>
        </p>
        <span>(128 reviews)</span>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <span slot="start" class="u-img"><img src="../../assets/img/my-store.png" alt=""></span>
      <ion-label>
        <h5>Kroger</h5>
        <h6>1242 North ave</h6>
        <p class="loc"><span>
            <ion-icon name="location"></ion-icon> 20 Miles Ways
          </span></p>
      </ion-label>
      <ion-label slot="end" class="rating_sec">
        
        <ion-icon name="heart" class="fill"></ion-icon>
        
        <p>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-unfill"></span>
        </p>
        <span>(128 reviews)</span>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <span slot="start" class="u-img"><img src="../../assets/img/my-store.png" alt=""></span>
      <ion-label>
        <h5>Kroger</h5>
        <h6>1242 North ave</h6>
        <p class="loc"><span>
            <ion-icon name="location"></ion-icon> 20 Miles Ways
          </span></p>
      </ion-label>
      <ion-label slot="end" class="rating_sec">
        
        <ion-icon name="heart" class="fill"></ion-icon>
        
        <p>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-unfill"></span>
        </p>
        <span>(128 reviews)</span>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <span slot="start" class="u-img"><img src="../../assets/img/my-store.png" alt=""></span>
      <ion-label>
        <h5>Kroger</h5>
        <h6>1242 North ave</h6>
        <p class="loc"><span>
            <ion-icon name="location"></ion-icon> 20 Miles Ways
          </span></p>
      </ion-label>
      <ion-label slot="end" class="rating_sec">
        
        <ion-icon name="heart" class="fill"></ion-icon>
        
        <p>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-unfill"></span>
        </p>
        <span>(128 reviews)</span>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <span slot="start" class="u-img"><img src="../../assets/img/my-store.png" alt=""></span>
      <ion-label>
        <h5>Kroger</h5>
        <h6>1242 North ave</h6>
        <p class="loc"><span>
            <ion-icon name="location"></ion-icon> 20 Miles Ways
          </span></p>
      </ion-label>
      <ion-label slot="end" class="rating_sec">
        
          <ion-icon name="heart-outline"></ion-icon>
        
        <p>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-fill"></span>
          <span class="icon-Star-unfill"></span>
        </p>
        <span>(128 reviews)</span>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>