ion-content{
    .s_top{
        text-align: center;
        border-bottom: solid 1px #ddd;
        margin: 15px 15px 0;
        img{
            width: 50px;
            height: 50px;
            border-radius: 10px;
            h4{
                font-size: 15px;
                color: #000;

            }
            h5{
                font-size: 13px;
                color: #000;
                
            }
        }
    }
    ion-list{
        ion-list-header{
            font-size: 15px;
            font-weight: 600;
        }
        ion-item{
            border-bottom: solid 1px #ddd;
            margin: 0 15px;
            --padding-start: 0;
            --inner-padding-end: 0;
           ion-checkbox {
               --border-radius: 10px !important;
               --border-color: #EBEBEB !important;
               --ion-color-base: #9D4CDF !important;
               --background-checked: #EBEBEB;
               --border-color-checked: #EBEBEB;
               --checkmark-color: #9D4CDF;
               --checkmark-width: 2px;
               width: 40px;
               --border-width: 8px;
       --checkmark-width: 3px;
               height: 40px;
               --background: #EBEBEB;
               /* --border-color: none !important; */
               margin-right: 12px;
           }
           
           
        }
    }   
   }