<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Store 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="s_top">
    <img src="assets/img/cover.png" alt="">
    <h4>Store 1</h4>
    <h5>2 products match</h5>
  </div>  
  <ion-list>
    <ion-list-header>Items List</ion-list-header>
      <ion-item lines="none">
        <ion-label>Store 1</ion-label>
        <ion-checkbox color="primary"  slot="start"></ion-checkbox>
        <span slot="end">2 products match</span>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Store 2</ion-label>
        <ion-checkbox color="primary"  slot="start"></ion-checkbox>
        <span slot="end">2 products match</span>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Store 3</ion-label>
        <ion-checkbox color="primary"  slot="start"></ion-checkbox>
        <span slot="end">2 products match</span>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Store 4</ion-label>
        <ion-checkbox color="primary"  slot="start"></ion-checkbox>
        <span slot="end">2 products match</span>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Store 5</ion-label>
        <ion-checkbox color="primary"  slot="start"></ion-checkbox>
        <span slot="end">2 products match</span>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Store 6</ion-label>
        <ion-checkbox color="primary"  slot="start"></ion-checkbox>
        <span slot="end">2 products match</span>
      </ion-item>
    </ion-list>

</ion-content>

<ion-footer>
  <ion-button class="cus_btn" routerLink="/store1">Save</ion-button>
</ion-footer>