<ion-header class="header1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Store List</ion-title>
    <ion-icon slot="end" style="color: #fff;" name="funnel" (click)="filter()"></ion-icon>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- {{data.length}} -->
    <ion-item lines="none" *ngFor="let item of data; let i = index">
      <ion-thumbnail slot="start">
        <img src="{{image_url}}{{item.store_images[0]}}" />
      </ion-thumbnail>
      <ion-label (click)="open_store(item.id)"
        >{{item.store_name}}
        <p class="loc">
          <span
            ><ion-icon name="location"></ion-icon> {{item.distance | number: '1.2-2'}} Miles
            away</span
          >
        </p>
      </ion-label>
      <!--ion-checkbox color="primary" slot="start"></ion-checkbox-->
      <ion-label slot="end" style="text-align: right">
        <ion-icon *ngIf="item.is_favourite==0" name="heart-outline" (click)="like(item.id,1, i)"></ion-icon>  
        <ion-icon class="heart" *ngIf="item.is_favourite==1" name="heart" (click)="like(item.id,0,i)"></ion-icon> 
        <p>{{item.match_count}}/{{total_items}} products match</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!--ion-footer>
    <ion-button class="cus_btn" routerLink="/store1">Save</ion-button>
</ion-footer-->
