<ion-header class="header1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
    <ion-grid [formGroup]="repasswordForm">
      <ion-row>
        <ion-col size="12">
          <ion-label>Current Password</ion-label>
          <ion-input [type]="c_passwordType" formControlName="currentpassword" placeholder="Enter Current Password" class="{{submmited && f.currentpassword.errors ?'errorclassb':'successclassb'}}" maxlength='15'></ion-input>
          <ion-icon item-end [name]="c_passwordIcon" class="icon" (click)='c_hideShowPassword()'></ion-icon>

          <div *ngIf="getFormControl('currentpassword').invalid  && (getFormControl('currentpassword').dirty || getFormControl('currentpassword').updateOn && Current_req)"
          class="my-0 py-0 text-danger" style="font-size: 10px;">
          <p *ngIf="getFormControl('currentpassword').errors.required" class="my-0 py-0 text-danger">
              Password is required.
          </p>
     
          </div>
      </ion-col>
        <ion-col size="12">
          <ion-label>New Password</ion-label>
          <ion-input [type]="n_passwordType" formControlName="password" placeholder="Enter New Password" class="{{submmited && f.password.errors ?'errorclassb':'successclassb'}}" maxlength='15'></ion-input>
          <ion-icon item-end [name]="n_passwordIcon" class="icon" (click)='n_hideShowPassword()'></ion-icon>
          
          <div *ngIf="getFormControl('password').invalid  && (getFormControl('password').dirty || getFormControl('password').updateOn && new_req)"
          class="my-0 py-0 text-danger" style="font-size: 10px;">
          <p *ngIf="getFormControl('password').errors.required" class="my-0 py-0 text-danger">
              New Password is required.
          </p>
          <p *ngIf="(!getFormControl('password').errors.required )&& (getFormControl('password').errors.passwordName)" class="my-0 py-0 text-danger">
              Password must be a minimum of 8 characters including number, Upper, Lower And 
              one special character.
            </p>
          
          
          </div>
      </ion-col>
      <ion-col size="12">
        <ion-label>Confirm New Password</ion-label>
        <ion-input [type]="r_passwordType" formControlName="repassword" placeholder="Enter Confirm New Password" class="{{submmited && f.repassword.errors ?'errorclassb':'successclassb'}}" maxlength='15'></ion-input>
        <ion-icon item-end [name]="r_passwordIcon" class="icon" (click)='r_hideShowPassword()'></ion-icon>
        <div *ngIf="getFormControl('repassword').invalid  && (getFormControl('repassword').dirty || getFormControl('repassword').updateOn && confirm_req)"
        class="my-0 py-0 text-danger" style="font-size: 10px;">
        <p *ngIf="getFormControl('repassword').errors.required" class="my-0 py-0 text-danger">
            Re-Password is required.
        </p>
        <p *ngIf="(!getFormControl('repassword').errors.required )&& (getFormControl('repassword').errors.passwordName)" class="my-0 py-0 text-danger">
            Re-Password must be a minimum of 8 characters including number, Upper, Lower And 
            one special character.
          </p>
        
        
        </div>
    </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-button class="cus_btn" (click)="resetPassSubmit()">UPDATE</ion-button>
</ion-footer>
