<ion-header class="header1">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Saved Meals</ion-title>
        <span class="icon-search" routerLink="/search" slot="end"></span>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Meal 1</ion-label>
            <ion-icon name="chevron-up-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-list>
            <ion-item class="reds">
                <span slot="start" class="icon-Shuffle"></span>
                <ion-label>All Ingredients</ion-label>
            </ion-item>
            <ion-item>
                <span slot="start">1</span>
                <ion-label>Bananas</ion-label>
                <span class="green">1 lbs</span>
                <span class="icon-add" slot="end"></span>
            </ion-item>
            <ion-item>
                <span slot="start">2</span>
                <ion-label>Bananas</ion-label>
                <span class="green">1 lbs</span>
                <span class="icon-add" slot="end"></span>
            </ion-item>
            <ion-item>
                <span slot="start">3</span>
                <ion-label>Bananas</ion-label>
                <span class="green">1 lbs</span>
                <span class="icon-add" slot="end"></span>
            </ion-item>
            <ion-item>
                <span slot="start">4</span>
                <ion-label>Bananas</ion-label>
                <span class="green">1 lbs</span>
                <span class="icon-add" slot="end"></span>
            </ion-item>
            <ion-item>
                <span slot="start">5</span>
                <ion-label>Bananas</ion-label>
                <span class="green">1 lbs</span>
                <span class="icon-add" slot="end"></span>
            </ion-item>
            <ion-item>
                <span slot="start">6</span>
                <ion-label>Bananas</ion-label>
                <span class="green">1 lbs</span>
                <span class="icon-add" slot="end"></span>
            </ion-item>
        </ion-list>
        <ion-item>
            <ion-label>Meal 1</ion-label>
            <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>Meal 1</ion-label>
            <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>Meal 1</ion-label>
            <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
        </ion-item>
    </ion-list>






</ion-content>