<div class="popup_outer">

  <ion-icon name="close" class="closebtn" (click)="closeModal()"> </ion-icon>

  <ion-header>
    <ion-grid>
      <ion-row>
        <ion-col class="col_buttons" size='6'>
          <ion-button class="{{my ?'btn_active':'btn_inactive'}}" (click)="my_list()">My List</ion-button>
        </ion-col>
        <ion-col class="col_buttons" size='6'>
          <ion-button class="{{shared ?'btn_active':'btn_inactive'}}" (click)="shared_list()">Shared List</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header><hr>

  <div class="popupinner">
    <div>
      <h5>Select Shopping List</h5>
    </div>
    <div>
      <ion-list>
        <ion-radio-group allow-empty-selection="true" name="radio-group" (ionChange)="radioGroupChange($event)" #radioGroup>
         
          <ion-item *ngFor="let item of shopping_list" (click)="radioSelect(item.title, item.id)"
            >
            <ion-label>{{item.title}}</ion-label>
            <ion-radio slot="start" name="{{item.title}}" value="{{item.id}}"
              ></ion-radio>
          </ion-item>
    
        </ion-radio-group>
      </ion-list>

    
    </div>
    <div class="btn">
      <ion-button class="remove" (click)="closeModal()">CANCEL</ion-button>
      <ion-button [disabled]="disable" class="cus_btn" (click)="apply()">APPLY</ion-button>
    </div>
  </div>
</div>
