.popup_outer {
    padding: 40px 15px;
    background-color: #fff;
    width: 90%;
    left: 5%;
    top: 50%;
    border: 2px solid #fff;
    position: relative;
    border-radius: 5px;
    transform: translateY(-50%);
    height: 85%;
  
    .closebtn {
      font-size: 12px;
      position: absolute;
      top: 6px;
      right: 7px;
      width: 26px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 45px;
      &:before {
        padding: 10px;
        color: #848f8f;
      }
    }
  
    .popupinner {
      overflow: scroll;
      clear: both;
      text-align: center;
      h4{
        font-size: 16px;
        font-weight: bold;
        margin: 0;
      }
     
      .chk_lbl{
        float: left;
      }
  
     
    }
  }
  
  
  
  ion-modal {
      --backdrop-opacity: 0.4 !important;
      --background: transparent !important;
  }
  
  .col_buttons{
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .btn_active{
    display: block;
    --background: #9D4CDF;
    --border-radius: 10px;
    --color: white;
    --box-shadow: none;
    margin: 10px 15px;
    font-family: 'SF UI Text Semibold';
    height: 50px;
    width: 100%;
}

.btn_inactive{
    display: block;
    --background: #F0F0F0;
    --border-radius: 10px;
    --color: #868686;
    --box-shadow: none;
    width: 100%;
    margin: 10px 15px;
    font-family: 'SF UI Text Semibold';
    height: 50px;
}

