<ion-list>
  <ion-item detail="false" routerLink="/grocery-list" lines="inset">
    <ion-label>Shopping List </ion-label>
    <ion-label slot="end" class="left">
      <ion-icon name="trash-outline"></ion-icon>
      <span class="icon-Arrow-right"></span>

    </ion-label>
  </ion-item>
  <ion-item detail="false" routerLink="/grocery-list" lines="inset">
    <ion-label>Kitchen List </ion-label>
    <ion-label slot="end" class="left">
      <ion-icon name="trash-outline"></ion-icon>
      <span class="icon-Arrow-right"></span>

    </ion-label>
  </ion-item>
  <ion-item detail="false" routerLink="/grocery-list" lines="inset">
    <ion-label>Store List </ion-label>
    <ion-label slot="end" class="left">
      <ion-icon name="trash-outline"></ion-icon>
      <span class="icon-Arrow-right"></span>

    </ion-label>
  </ion-item>
  <ion-item detail="false" routerLink="/grocery-list" lines="inset">
    <ion-label>Food List </ion-label>
    <ion-label slot="end" class="left">
      <ion-icon name="trash-outline"></ion-icon>
      <span class="icon-Arrow-right"></span>

    </ion-label>
  </ion-item>
</ion-list>