<ion-header class="header1">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Buying Habits</ion-title>
        <span class="icon-search" routerLink="/search" slot="end"></span>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item lines="none">
            <ion-label>Flour</ion-label>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <span>bought 10 times</span>
        </ion-item>
        <ion-item lines="none">
            <ion-label>Flour</ion-label>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <span>bought 10 times</span>
        </ion-item>
        <ion-item lines="none">
            <ion-label>Flour</ion-label>
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <span>bought 10 times</span>
        </ion-item>
    </ion-list>




</ion-content>