<ion-header class="header1">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button icon="chevron-back-outline" text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Buying Habits</ion-title>
        <ion-icon slot="end" name="search-outline" routerLink="/search"></ion-icon>
       
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item lines="none" *ngFor="let item of data; let i = index">
            <ion-label>{{item.item_name}}</ion-label>
            <span slot="start"><img src={{image_url}}{{item.image}} onerror="this.src='../../assets/img/item_placeholder.png'" alt="" /></span>
            <span>{{item.total_time}}</span>
        </ion-item>
     
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>


</ion-content>