<ion-header class="header1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-icon *ngIf="!toggled" (click)="toggle()" slot="end" name="search-outline"></ion-icon>
  </ion-toolbar>
  <ion-searchbar *ngIf="toggled"
  [(ngModel)]="someValue"
  (ionInput)="search2($event)"
  (ionCancel)="cancelSearch($event)"
  (ionClear) ="cancelSearch($event)"
  (keyup.enter)="searchThis($event)"
  ></ion-searchbar>
</ion-header>

<ion-content>
    <ion-row>
<ion-col size="12">
        <div class="select_all">
    <ion-label *ngIf="!select_all" (click)="all()"> Select All </ion-label>
    <ion-label *ngIf="select_all" (click)="all()"> Remove All </ion-label>
  </div>
</ion-col>
</ion-row>
  <ion-grid>
    <ion-row>
        <ion-col size="12">
  <ion-list>
    <ion-item lines="none" *ngFor="let item of data"> 
      <ion-avatar slot="start">
        <img src="{{image_url}}{{item.profile_image}}" onerror="this.src='../../assets/img/svg/Account.svg'" />
      </ion-avatar>
      <ion-label>{{item.name}}</ion-label>
      <ion-checkbox mode="md"  slot="end" [checked]="select_all" (ionChange)="checked($event, item.id)"></ion-checkbox>
    </ion-item>

  </ion-list>


      </ion-col>
  </ion-row>
</ion-grid>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="LoadMore">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>

<ion-footer>
    <ion-button class="cus_btn" (click)="share()">SHARE</ion-button>
  </ion-footer>
  
