<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
        <ion-button slot="end">
            Select All
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item lines="none">
            <ion-avatar slot="start">
                <img src="assets/img/user.png">
            </ion-avatar>
            <ion-label>Vegetarian</ion-label>
            <ion-checkbox mode="md" checked slot="end"></ion-checkbox>
        </ion-item>
        <ion-item lines="none">
            <ion-avatar slot="start">
                <img src="assets/img/user.png">
            </ion-avatar>
            <ion-label>Vegan</ion-label>
            <ion-checkbox mode="md" slot="end"></ion-checkbox>
        </ion-item>

        <ion-item lines="none">
            <ion-avatar slot="start">
                <img src="assets/img/user.png">
            </ion-avatar>
            <ion-label>Allergies</ion-label>
            <ion-checkbox mode="md" slot="end"></ion-checkbox>
        </ion-item>
        <ion-item lines="none">
            <ion-avatar slot="start">
                <img src="assets/img/user.png">
            </ion-avatar>
            <ion-label>Gluten</ion-label>
            <ion-checkbox mode="md" slot="end"></ion-checkbox>
        </ion-item>
        <ion-item lines="none">
            <ion-avatar slot="start">
                <img src="assets/img/user.png">
            </ion-avatar>
            <ion-label>Inexpensive</ion-label>
            <ion-checkbox mode="md" checked slot="end"></ion-checkbox>
        </ion-item>
        <ion-item lines="none">
            <ion-avatar slot="start">
                <img src="assets/img/user.png">
            </ion-avatar>
            <ion-label>Quality Products</ion-label>
            <ion-checkbox mode="md" slot="end"></ion-checkbox>
        </ion-item>
        <ion-item lines="none">
            <ion-avatar slot="start">
                <img src="assets/img/user.png">
            </ion-avatar>
            <ion-label>Regular diet</ion-label>
            <ion-checkbox mode="md" slot="end"></ion-checkbox>
        </ion-item>
        <ion-item lines="none">
            <ion-avatar slot="start">
                <img src="assets/img/user.png">
            </ion-avatar>
            <ion-label>Low sodium diet</ion-label>
            <ion-checkbox mode="md" slot="end"></ion-checkbox>
        </ion-item>
    </ion-list>

</ion-content>