ion-header {
    [slot="end"] {
        --color: #9D4CDF;
        --background: transparent;
        --box-shadow: none;
    }
}

ion-content {
    ion-list {
        ion-item {
            border-bottom: solid 1px #ddd;
            margin: 0 15px;
            --padding-start: 0;
            margin: 0 15px 15px;
            --inner-padding-end: 0;
            ion-avatar {
                --border-radius: 10px;
            }
            ion-label {
                font-size: 17px;
                color: #000000;
                font-weight: 600;
            }
        }
    }
}