<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button><span class="icon-menu"></span></ion-menu-button>
        </ion-buttons>
        <ion-title>Past-Orders</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item lines="none">
            <ion-label>
                <h4>$9.95</h4>
                <p>22-04-2021 | 12:00 PM</p>
            </ion-label>
            <span slot="end" routerLink="/past-orders1">View</span>
        </ion-item>
        <ion-item lines="none">

            <ion-label>
                <h4>$9.95</h4>
                <p>22-04-2021 | 12:00 PM</p>
            </ion-label>
            <span slot="end">View</span>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                <h4>$9.95</h4>
                <p>22-04-2021 | 12:00 PM</p>
            </ion-label>
            <span slot="end">View</span>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                <h4>$9.95</h4>
                <p>22-04-2021 | 12:00 PM</p>
            </ion-label>
            <span slot="end">View</span>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                <h4>$9.95</h4>
                <p>22-04-2021 | 12:00 PM</p>
            </ion-label>
            <span slot="end">View</span>
        </ion-item>
    </ion-list>

</ion-content>