<ion-header class="header1">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button><span class="icon-menu"></span></ion-menu-button>
        </ion-buttons>
        <ion-title>Past Orders</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item lines="none" (click)="open_order()">
            <ion-label>
                <h4>Kroger Store</h4>
                <p>04-22-2021 | 12:00 PM</p>
            </ion-label>
            <span slot="start"><img src="assets/img/item_placeholder.png" alt=""></span>
            <span style="margin-top: 20px; font-size: 15px; font-weight: bold;" slot="end" >$9.95</span>
        </ion-item>

        <ion-item lines="none" (click)="open_order()">
            <ion-label>
                <h4>Kroger Store</h4>
                <p>04-22-2021 | 12:00 PM</p>
            </ion-label>
            <span slot="start"><img src="assets/img/item_placeholder.png" alt=""></span>
            <span style="margin-top: 20px; font-size: 15px; font-weight: bold;" slot="end" >$9.95</span>
        </ion-item>

        <ion-item lines="none" (click)="open_order()">
            <ion-label>
                <h4>Kroger Store</h4>
                <p>04-22-2021 | 12:00 PM</p>
            </ion-label>
            <span slot="start"><img src="assets/img/item_placeholder.png" alt=""></span>
            <span style="margin-top: 20px; font-size: 15px; font-weight: bold;" slot="end" >$9.95</span>
        </ion-item>

        <ion-item lines="none" (click)="open_order()">
            <ion-label>
                <h4>Kroger Store</h4>
                <p>04-22-2021 | 12:00 PM</p>
            </ion-label>
            <span slot="start"><img src="assets/img/item_placeholder.png" alt=""></span>
            <span style="margin-top: 20px; font-size: 15px; font-weight: bold;" slot="end" >$9.95</span>
        </ion-item>

        <ion-item lines="none" (click)="open_order()">
            <ion-label>
                <h4>Kroger Store</h4>
                <p>04-22-2021 | 12:00 PM</p>
            </ion-label>
            <span slot="start"><img src="assets/img/item_placeholder.png" alt=""></span>
            <span style="margin-top: 20px; font-size: 15px; font-weight: bold;" slot="end" >$9.95</span>
        </ion-item>
    </ion-list>

</ion-content>