<ion-list *ngIf="data.length>0">
  <ion-item detail="false" lines="inset" *ngFor="let item of data">
    <ion-label (click)="shoping_list(item.id)"
      >{{ item.title }}
      <p>
        <span
          ><img src="{{ image_url }}{{ item.profile_image }}" onerror="this.src='../../assets/img/svg/Account.svg'" alt=""
        /></span>
        {{ item.shared_by }}
      </p>
    </ion-label>
    <ion-label slot="end" class="left">
      <ion-icon
        class="edit"
        class="fii-2 icon-pencil"
        (click)="shoping_list(item.id)"
      ></ion-icon>
      <ion-icon class="fii-2 icon-delete" (click)="remove(item.id)"></ion-icon>
      <span class="icon-Arrow-right" (click)="shoping_list(item.id)"></span>
    </ion-label>
  </ion-item>
</ion-list>

<div class="plac" *ngIf="data.length<=0"> 
  <ion-label   class="placeholder">No List Available</ion-label>
</div>