<ion-list>
  <ion-item detail="false" routerLink="/grocery-list" lines="inset">
      <ion-label>Shopping List 
        <p>
          <span><img src="../../assets/img/user.png" alt=""></span>
          Emily Smith
        </p>
      </ion-label>
      <ion-label slot="end" class="left">
        <ion-icon class="edit" name="pencil-outline"></ion-icon>
        <ion-icon name="trash-outline"></ion-icon>
        <span class="icon-Arrow-right"></span>
        
      </ion-label>
  </ion-item>
  <ion-item detail="false" routerLink="/grocery-list" lines="inset">
      <ion-label>Kitchen List
        <p>
          <span><img src="../../assets/img/user.png" alt=""></span>
          Emily Smith
        </p>  
      </ion-label>
       <ion-label slot="end" class="left">
        <ion-icon class="edit" slot="md" name="pencil-outline"></ion-icon>
        <ion-icon name="trash-outline"></ion-icon>
        <span class="icon-Arrow-right"></span>
        
      </ion-label>
  </ion-item>
  <ion-item detail="false" routerLink="/grocery-list" lines="inset">
      <ion-label>Store List
        <p>
          <span><img src="../../assets/img/user.png" alt=""></span>
          Emily Smith
        </p>  
      </ion-label>
       <ion-label slot="end" class="left">
        <ion-icon class="edit" name="pencil-outline"></ion-icon>
        <ion-icon name="trash-outline"></ion-icon>
        <span class="icon-Arrow-right"></span>
        
      </ion-label>
  </ion-item>
  <ion-item detail="false" routerLink="/grocery-list" lines="inset">
      <ion-label>Food List
        <p>
          <span><img src="../../assets/img/user.png" alt=""></span>
          Emily Smith
        </p>  
      </ion-label>
       <ion-label slot="end" class="left">
        <ion-icon class="edit" name="pencil-outline"></ion-icon>
        <ion-icon name="trash-outline"></ion-icon>
        <span class="icon-Arrow-right"></span>
        
      </ion-label>
  </ion-item>
</ion-list>