<ion-list>
  <ion-item detail="false" lines="inset" *ngFor="let item of data">
    <ion-label (click)="shoping_list(item.id)"
      >{{ item.title }}
      <p>
        <span
          ><img src="{{ image_url }}{{ item.profile_image }}" alt=""
        /></span>
        {{ item.shared_by }}
      </p>
    </ion-label>
    <ion-label slot="end" class="left">
      <ion-icon
        class="edit"
        name="pencil-outline"
        (click)="shoping_list(item.id)"
      ></ion-icon>
      <ion-icon name="trash-outline" (click)="remove(item.id)"></ion-icon>
      <span class="icon-Arrow-right"></span>
    </ion-label>
  </ion-item>
</ion-list>
