<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Safety-Awareness</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>
  <ion-item lines="none">
    <span slot="start"><img src="assets/img/user.png" alt=""></span>
    <ion-label>
      <h4>Sanitize Hand</h4>
      <p>10 hrs ago</p>
    </ion-label>
  </ion-item>
</ion-list>
<div class="s-content">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, dicta, repellat, tempora animi harum dolore fugit iure quod esse consectetur distinctio non magnam. Eaque dignissimos a distinctio officiis magni nesciunt.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, dicta, repellat, tempora animi harum dolore fugit iure quod esse consectetur distinctio non magnam. Eaque dignissimos a distinctio officiis magni nesciunt.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, dicta, repellat, tempora animi harum dolore fugit iure quod esse consectetur distinctio non magnam. Eaque dignissimos a distinctio officiis magni nesciunt.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, dicta, repellat, tempora animi harum dolore fugit iure quod esse consectetur distinctio non magnam. Eaque dignissimos a distinctio officiis magni nesciunt.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, dicta, repellat, tempora animi harum dolore fugit iure quod esse consectetur distinctio non magnam. Eaque dignissimos a distinctio officiis magni nesciunt.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, dicta, repellat, tempora animi harum dolore fugit iure quod esse consectetur distinctio non magnam. Eaque dignissimos a distinctio officiis magni nesciunt.</p>

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, dicta, repellat, tempora animi harum dolore fugit iure quod esse consectetur distinctio non magnam. Eaque dignissimos a distinctio officiis magni nesciunt.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, dicta, repellat, tempora animi harum dolore fugit iure quod esse consectetur distinctio non magnam. Eaque dignissimos a distinctio officiis magni nesciunt.</p>
</div>  
</ion-content>