<ion-app>
  <!-- <ion-split-pane contentId="main-content"> -->



    <ion-menu (ionWillOpen)="onMenuOpen()" (ionDidOpen)="onMenuOpen()" contentId="main-content" swipeGesture="false" type="overlay">

      <ion-content >

        <div class="top" routerLink="/auth/account" (click)="closeMenu()">
          <img class="{{userDetail?.profile_image ? 'image1' :'image2'}}" src="{{ userDetail?.profile_image ? imagebaseurl+userDetail?.profile_image : 'assets/img/svg/user.png'}}" onerror="this.src='../../assets/img/default-image.png'" alt="">
          <div class="user_name">
          <h4> {{userDetail?.name}}</h4>
          <h4>{{userDetail?.email}}</h4>
          </div>
        </div>


        <ion-list class="mt-30 " mode="md" lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" detail="false">
              <!-- <ion-icon slot="start" [name]="p.icon"></ion-icon> -->

              <ion-label>
                {{p.title}} <span class="notification" slot="end"></span>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" class="p-0 m-0" >
            <ion-item  detail="false" (click)="logout()" lines="none">
              <ion-label style="color: #9D4CDF;">
                Logout
              </ion-label>
            </ion-item>
            <!-- <ion-button (click)="sample()" expand="block" fill="clear" shape="round">
              Click me
            </ion-button> -->
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>

<ion-content scrollY="false">


    <ion-router-outlet id="main-content"  ></ion-router-outlet>
  <!-- </ion-split-pane> -->
</ion-content>
</ion-app>
