<ion-header class="header1">

    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Kroger Store</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6" routerLink="/grocery-list-share">
                <div class="list_box_1">
                    <img src={{image_url}}{{store_image}} alt="">
                    <!-- <h4>Grocery  List</h4> -->
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="list_box_1">
                    <h3>{{store_name}}</h3>
                    <p style="margin-top: 10px;" routerLink="/shop">View Store Steak</p>
                    <div class="rating">
                        <h5>Mexican (Authentic)</h5>
                        <p><span class="icon-Star-fill"></span><span class="icon-Star-fill"></span><span class="icon-Star-fill"></span><span class="icon-Star-fill"></span><span class="icon-Star-unfill"></span>(128) reviews</p>
                    </div>
                    <div class="m_b">
                        <span>{{store_distance}} miles away</span>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <h3>Matched Items</h3>
    <div class="scrolles">
        <ion-card *ngFor="let item of matched_products">
            <img src={{image_url}}{{item.images[0]}} />
            <h5>{{item.name}}</h5>
            <ion-grid>
                <ion-row>
                    <ion-col><b>${{item.price}}</b></ion-col>
                    <ion-col class="ion-text-right">
                        <ion-icon name="remove-circle-outline"></ion-icon>
                        5 kg
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>

    </div>
    <h3>Categories</h3>

    <ion-list class="listss">
        <ion-item>
            <ion-label>All Items</ion-label>
        </ion-item>
        <ion-item>
            <span slot="start">1</span>
            <ion-label>Kroger (North Ave)</ion-label>
            <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
            <span slot="start">2</span>
            <ion-label>Kroger (North Ave)</ion-label>
            <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
            <span slot="start">3</span>
            <ion-label>Kroger (North Ave)</ion-label>
            <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
            <span slot="start">4</span>
            <ion-label>Kroger (North Ave)</ion-label>
            <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
            <span slot="start">5</span>
            <ion-label>Kroger (North Ave)</ion-label>
            <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
            <span slot="start">6</span>
            <ion-label>Kroger (North Ave)</ion-label>
            <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
        </ion-item>
    </ion-list>

</ion-content>