<ion-header class="header1">

    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button icon="chevron-back-outline" text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Kroger Store</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6" routerLink="/grocery-list-share">
                <div class="list_box_1">
                    <img src={{image_url}}{{store_image}} alt="">
                    <!-- <h4>Grocery  List</h4> -->
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="list_box_1">
                    <h3>{{store_name}}</h3>
                    <p style="margin-top: 10px;" (click)="open_shop()">View Store Steak</p>
                    <div class="rating">
                        <h5>{{store_address}}</h5>
                        
                        <!-- <p (click)="review_comment()">
                            
                            ({{review_count}}) reviews</p> -->

                            <div style="justify-content: flex-start;" class="ratingCust">
                                <rating [rate]="avg_rating"
                                [readonly] = "true"
                                size = "small"
                                >
                          </rating> <span class="rat">({{review_count}}) reviews</span>
                        </div>
                    </div>

                   
                    <div class="m_b">
                        <span>{{store_distance | number:'1.2-2'}} Miles away</span>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <h3>Matched Items</h3>
    <div class="scrolles">
        <ion-card *ngFor="let item of matched_products let k = index">
            <img src={{image_url}}{{item.images[0]}} onerror="this.src='../../assets/img/item_placeholder.png'"/>
            <h5>{{item.name}}</h5>
            <ion-grid>
                <ion-row>
                    <ion-col><b>${{item.price}}</b></ion-col>
                    <ion-col class="ion-text-right">
                        <ion-icon name="remove-circle-outline" (click)="decrement(item.id, 'match',k)"></ion-icon>
                        {{item.quantity}} kg
                        <ion-icon name="add-circle-outline" (click)="increment(item.id, 'match',k)"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>

    </div>
    <h3>Categories</h3>

    <ion-list >
       
        <div class="items" *ngFor="let item of store_category let i = index" >
            
            <ion-label>{{item.name}}</ion-label>
            
            <ion-icon name="chevron-up-outline" slot="end" *ngIf="store_category[i].open" (click)="open_category(i, item.id)"></ion-icon>
            <ion-icon name="chevron-down-outline" slot="end" *ngIf="!store_category[i].open" (click)="open_category(i, item.id)"></ion-icon>
        
                  
        <ion-list *ngIf="store_category[i].open">
           
            <ion-item *ngFor="let items of store_category_product let j =index">
            
                <ion-thumbnail slot="start">
                    <img src="{{image_url}}{{items.images[0]}}" onerror="this.src='../../assets/img/item_placeholder.png'" />
                  </ion-thumbnail>
                  <ion-label>
                      {{items.name}}
                   </ion-label>
           

                  <div *ngIf="checkForItem(items.id)" class="ion-text-right">
                    <ion-icon name="remove-circle-outline" (click)="decrement(items.id,'other',j)"></ion-icon>
                     {{items.quantity}} kg
                    <ion-icon name="add-circle-outline" (click)="increment(items.id, 'other',j)"></ion-icon>
                  </div>

                  <div *ngIf="!checkForItem(items.id)" (click)="add_item(items.id,j)" class="ion-text-right">
                    <span style="color: #9D4CDF;">Add</span>
                  </div>

            </ion-item>

            <ion-item  *ngIf="store_category[i].open&&store_category_product.length<=0"> 
                <ion-label>Items not Found</ion-label>
              </ion-item>
        </ion-list>
        
        
    </div>

    

    </ion-list>
<div class="not-av"*ngIf="store_category.length<=0">
    <ion-label >Not Available</ion-label>
</div>
</ion-content>