<ion-header class="header1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Review & Rating</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="rate_review">
    <h2>Rate Your Experience</h2>
    <div class="rating_star">

      <rating [(ngModel)]="rating"
        
      size="default"
      (ngModelChange)="onRateChange($event)">
</rating>
      <!-- <span class="icon-Star-fill" *ngFor="let st of stars ; let i =index"></span>
    
 <span class="icon-Star-unfill"></span> --> 
      
     </div> 
  </div>



  <ion-textarea [(ngModel)]="comment" rows="8" placeholder="Comment Here..."></ion-textarea>
  <div class="upload_img">
    <h4>UPLOAD IMAGES (MAX 3)</h4>
    <div *ngIf="review_type =='ADD'" class="img_list">
      <span *ngFor="let item of review_images"><img src="{{item}}" alt=""></span>
      <span *ngIf="review_images.length<3">
      <ion-icon  name="add" (click)="captureImage()"></ion-icon>
      </span>
    </div>

    <div *ngIf="review_type =='EDIT'" class="img_list">
      <span *ngFor="let item of review_images"><img src="{{image_url}}{{item}}" alt=""></span>
      <span *ngIf="review_images.length<3">
      <ion-icon  name="add" (click)="captureImage()"></ion-icon>
      </span>
    </div>
  </div>
  
</ion-content>

<ion-footer>
  <ion-button (click)="add_review()" class="cus_btn">SUBMIT</ion-button>
</ion-footer>