<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Review & Rating</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="rate_review">
    <h2>Rate Your Experience</h2>
    <div class="rating_star">
      <span class="icon-Star-fill"></span>
      <span class="icon-Star-fill"></span>
      <span class="icon-Star-fill"></span>
      <span class="icon-Star-fill"></span>
      <span class="icon-Star-unfill"></span>
    </div>
  </div>
  <ion-textarea rows="8" placeholder="Comment Here..."></ion-textarea>
  <div class="upload_img">
    <h4>Upload Images (Max3)</h4>
    <div class="img_list">
      <span><img src="../../assets/img/user.png" alt=""></span>
      <span>
        <ion-icon name="add"></ion-icon>
      </span>
    </div>
  </div>
  <ion-button class="cus_btn">Submit</ion-button>
</ion-content>