<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Manage-Payments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-label>
        <h4>Jamy Kaneth</h4>
        <p>xxxx xxxx xxxx  3942</p>
        <p class="cvv_input">
      <span>Cvv</span> <ion-input></ion-input></p>
      </ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
      <span slot="end" class="icon-more"></span>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <h4>Jamy Kaneth</h4>
        <p>xxxx xxxx xxxx  3942</p>
      </ion-label>
      <span slot="end" class="icon-more"></span>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <h4>Jamy Kaneth</h4>
        <p>xxxx xxxx xxxx  3942</p>
      </ion-label>
      <span slot="end" class="icon-more"></span>
    </ion-item>
  </ion-list>

</ion-content>


<ion-footer>
  <ion-button routerLink="/add-new-card" class="cus_btn">Add New Card</ion-button>
</ion-footer>