<ion-header>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Grocery-List</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6" routerLink="/grocery-list">
                <div class="list_box_1">
                    <img src="assets/img/list.png" alt="">
                    <h4>Recommended List</h4>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="list_box_1">
                    <h3>Recommended</h3>
                    <!-- <p routerLink="/grocery-list-share"><span class="icon-add"></span> Add</p> -->
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-list>
        <ion-item>
            <span slot="start"></span>
            <ion-label>All Recommended Lists</ion-label>
        </ion-item>
        <ion-item>
            <span slot="start">1</span>
            <ion-label routerLink="/recommended-camping-trip">Camping Trip</ion-label>
            <span class="icon-add" slot="end"></span>
        </ion-item>
        <ion-item>
            <span slot="start">2</span>
            <ion-label>Camping Trip</ion-label>
            <span class="icon-add" slot="end"></span>
        </ion-item>
        <ion-item>
            <span slot="start">3</span>
            <ion-label>Camping Trip</ion-label>
            <span class="icon-add" slot="end"></span>
        </ion-item>
        <ion-item>
            <span slot="start">4</span>
            <ion-label>Camping Trip</ion-label>
            <span class="icon-add" slot="end"></span>
        </ion-item>
        <ion-item>
            <span slot="start">5</span>
            <ion-label>Camping Trip</ion-label>
            <span class="icon-add" slot="end"></span>
        </ion-item>
        <ion-item>
            <span slot="start">6</span>
            <ion-label>Camping Trip</ion-label>
            <span class="icon-add" slot="end"></span>
        </ion-item>
    </ion-list>

</ion-content>