<ion-header >
  <ion-toolbar style="display: flex; align-items: center;">
    <!-- <span slot="start">In-Store Shop at </span>
    <ion-title *ngIf="public_toilet==1"><img src="assets/img/publix.png" alt=""></ion-title> -->
    <p slot="end" (click)="close()">Exit Shop <span class="icon-close"></span></p>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div class="map">
    <ion-row *ngFor="let item of [].constructor(row) let i = index">
      <ion-col
        style="height: 30px"
        *ngFor="let item of [].constructor(col) let j = index" [style.background]="getData3(i,j)=='ISLE' ? '#eaa800' : '' && getData3(i,j)=='PRODUCT' ? '#31be9f' : '' && getData3(i,j)=='INDOOR' ? '#f9cbb6' : ''"  >
        <div [style.display]="getData(i,j) ? 'block' : 'none'"  style="height: 100%;width: 100%;">
         <img (click)="show_details(i)" [src]="image_url + getData2(i,j)" *ngIf="getData2(i,j) != ''" onerror="this.src='../../assets/img/item_placeholder.png'" id="Col-{{i}}{{j}}"/>
        </div> 
      </ion-col>
    </ion-row>
  </div> -->

  <div class="map">
    <ion-row *ngFor="let item of [].constructor(row) let i = index">
      <ion-col
        style="height: 30px"
        *ngFor="let item of [].constructor(col) let j = index" [style.background]=" getData3(i,j)=='PRODUCT' ? '#36373a' : getData3(i,j)=='INDOOR' ? '#964B00' : ''"  >
        <div [style.display]="getData(i,j) ? 'block' : 'none'"  style="height: 100%;width: 100%;">
         <!-- <div style="text-align: center; background: #FFD700;" *ngIf="getData3(i,j)=='ISLE'">|</div> -->
         <!--<p class="check_isle" *ngIf="getData3(i,j) == 'ISLE'">{{getData4(i,j)}}</p><!-->

          <p class="check_isle" *ngIf="getData3(i,j) == 'ISLE'">|</p>

          <img (click)="show_details(i, j)" [src]="image_url + getData2(i,j)" *ngIf="getData2(i,j) != ''" onerror="this.src='../../assets/img/item_placeholder.png'" id="Col-{{i}}{{j}}"/>
         <h6 class="count" *ngIf="getData2(i,j) != '' && count(i,j)>1">{{count(i,j)}}</h6>
        </div> 
      </ion-col>
    </ion-row>
  </div>

  <h6 style="text-align: center;" *ngIf="public_toilet==1">This Store has Public Toilet</h6>
  <ion-grid *ngIf="matched_products.length>0">
    
      <img [style.filter]="matched_products.length==1 ? 'opacity(0.5)': 'opacity(1)'" style="position: absolute;z-index: 9999;left: 4px;" src="assets/img/left.png" (click)="slidePrev(sliderOne,slideWithNav1)"alt="">
      <ion-slides style="margin: 0px 23px;" pager="false" [options]="slideOptsone" #slideWithNav1
(ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav1)">
<ion-slide *ngFor="let s of matched_products let l = index" (click)="highlight(s.id)">
    <ion-row *ngIf="s.is_match">

      <ion-col size="6">
        <img style="height: 125px; width: 125px;" src="{{image_url}}{{s.images[0]}}" alt="" onerror="this.src='../../assets/img/item_placeholder.png'">
      </ion-col>
      <ion-col size="6">
        <div class="shop_details">
          <h2>{{s.name}}</h2>
          <!-- <p>Also see Aisle 7 - End cap</p> -->
          <h4  class="scrl">{{s.description}}</h4>
          <h3 style="font-weight: bold;">{{shell_position(l)}}</h3>
<h6>Rack:-{{find_row(l)}}</h6>

</div>
      </ion-col>
    </ion-row>
  </ion-slide>
</ion-slides>
      <img [style.filter]="matched_products.length==1 ? 'opacity(0.5)': 'opacity(1)'" style="position: absolute;z-index: 9999;right: 4px;" src="assets/img/right.png" (click)="slideNext(sliderOne,slideWithNav1)" alt="">
   
  </ion-grid>
<div *ngIf="matched_products.length>0" class="checkout">
  <span (click)="checkout()">CHECK OUT</span>
</div>
  <h6 *ngIf="store_products.length>0" class="heading">Other Products on Your List:</h6>
  <div *ngIf="store_products.length>0" style="position: relative;">
        

        <img [style.filter]="store_products.length==1 ? 'opacity(0.5)': 'opacity(1)'" style="    position: absolute;
        z-index: 9999;
        left: 4px; top: 25px;" src="assets/img/left.png" alt="" (click)="slidePrev(sliderTwo,slideWithNav2)"alt="">
   
  <ion-slides style="margin: 0px 25px;" pager="false" [options]="slideOptsTwo" #slideWithNav2
(ionSlideDidChange)="SlideDidChange(sliderTwo,slideWithNav2)">
<ion-slide *ngFor="let s of store_products">
  <div style="height: 80px; width: 80px; object-fit: fill;">
    <img (click)="shopping_list()" style="height: 100%; width: 100%;"  src="{{image_url}}{{s.images[0]}}" onerror="this.src='../../assets/img/item_placeholder.png'">
  </div>
</ion-slide>
</ion-slides>
   
    <img [style.filter]="store_products.length==1 ? 'opacity(0.5)': 'opacity(1)'" style="    position: absolute;
    z-index: 9999;
    right: 4px;
    top: 25px;" src="assets/img/right.png" alt="" (click)="slideNext(sliderTwo,slideWithNav2)">
</div>
</ion-content>