/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
// icon font 
// ion-app{
//     margin-top: env(safe-area-inset-top);
//     margin-bottom: env(safe-area-inset-bottom)
//     }

// ion-app {
//     margin-top: constant(safe-area-inset-top);
//     margin-bottom: env(safe-area-inset-bottom);
//   }
// ion-app{
//     padding-top: constant(safe-area-inset-top);
//     padding-top: env(safe-area-inset-top);
//     }
.logoutcss .alert-wrapper {
    --ion-background-color: #fff;
    --ion-item-background: #fff;
    --ion-text-color: none; 
    background: #fff;
}
*{

    --ion-background-color: #fff;
    --ion-item-background: #fff;
    --ion-text-color: none;

}
.image1{
    height: 79px; width: 77px; border-radius: 21px;
}
.image2{
    height: 60px; width: 65px; border-radius: 21px;
}
.errorclassb{
    border: solid 1px #ce1818;
}
.successclassb{
    border: solid 1px #8C8C8C;
}
@font-face {
    font-family: 'icomoon';
    src: url('./assets/fonts/icomoon.eot?yydodp');
    src: url('./assets/fonts/icomoon.eot?yydodp#iefix') format('embedded-opentype'), url('./assets/fonts/icomoon.ttf?yydodp') format('truetype'), url('./assets/fonts/icomoon.woff?yydodp') format('woff'), url('./assets/fonts/icomoon.svg?yydodp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Account:before {
    content: "\e900";
    color: #9D4CDF;
}

.icon-add:before {
    content: "\e901";
    color: #9D4CDF;
}

.icon-add-round:before {
    content: "\e902";
}

.icon-Arrow-right:before {
    content: "\e903";
    color: #cdced2;
    --color: #cdced2;
    margin-left: 20px;
}

.icon-camera:before {
    content: "\e904";
    color: #d1d1d1;
    --color: #d1d1d1;
}

.icon-close:before {
    content: "\e905";
    color: #7a797b;
   --color: #7a797b;
}

.icon-menu:before {
    content: "\e906";
}

.icon-more:before {
    content: "\e907";
    color: #b4b4b4;
    --color: #b4b4b4;
}

.icon-search:before {
    content: "\e908";
    color: #8c8c8c;
    --color: #8c8c8c;
}

.icon-Shuffle:before {
    content: "\e909";
    color: #929397;
    --color: #929397;
}

.icon-Star-unfill:before {
    content: "\e90a";
    color: #d9d5d2;
    --color: #d9d5d2;
}

.icon-Star-fill:before {
    content: "\e90b";
    color: #ff9500;
}

.icon-user:before {
    content: "\e90c";
    color: #9D4CDF;
}

//   web font 

/* #### Generated By: http://www.cufonfonts.com #### */

@font-face {
    font-family: 'SF UI Text Regular';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Regular'), url('./assets/fonts/SFUIText-Regular.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Italic'), url('./assets/fonts/SFUIText-RegularItalic.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Light'), url('./assets/fonts/SFUIText-Light.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Light Italic'), url('./assets/fonts/SFUIText-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Medium'), url('./assets/fonts/SFUIText-Medium.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Medium Italic'), url('./assets/fonts/SFUIText-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Semibold'), url('./assets/fonts/SFUIText-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Semibold Italic'), url('./assets/fonts/SFUIText-SemiboldItalic.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Bold'), url('./assets/fonts/SFUIText-Bold.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Bold Italic'), url('./assets/fonts/SFUIText-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Heavy'), url('./assets/fonts/SFUIText-Heavy.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text Heavy Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Heavy Italic'), url('./assets/fonts/SFUIText-HeavyItalic.woff') format('woff');
}


@font-face {
    font-family: 'icomoon-2';
    src:  url('./assets/fonts/icomoon-2.eot?fhrg14');
    src:  url('./assets/fonts/icomoon-2.eot?fhrg14#iefix') format('embedded-opentype'),
      url('./assets/fonts/icomoon-2.ttf?fhrg14') format('truetype'),
      url('./assets/fonts/icomoon-2.woff?fhrg14') format('woff'),
      url('./assets/fonts/icomoon-2.svg?fhrg14#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

.fii-2{
      /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-2' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root[mode="md"],
:root[mode="ios"] {
    --ion-font-family: 'SF UI Text Regular';
    font-family: var(--ion-font-family) !important;
}

// ion-header {
//    --background: #9D4CDF;
//     ion-toolbar {
//        --background: #9D4CDF;
//        border-bottom: solid 1px #ddd;
//         ion-title {
//             font-size: 17px;
//             color: #fff;
//             text-align: center;
//             position: absolute;
//             width: 100%;
//             left: 0;
//             right: 0;
//            //top: 17px;
//             font-weight: 600;
//             z-index: -1;
//         }
//         span {
//             font-size: 16px;
//             padding: 0 15px;
//             &:before{
//                 color: white;
//             }
//             img{
//                 filter: invert(1);
//             }
//         }
//         ion-back-button{
//             color: white;
//         }
//     }
//     &:after {
//         background-image: none !important;
//     }
// }



.icon-delete:before {
    content: "\e900";
    color: #fff;
  }
  .icon-edit:before {
    content: "\e901";
    color: #fff;
  }
  .icon-pencil:before {
    content: "\e902";
    color: #9d4cdf;
  }
  .icon-share:before {
    content: "\e903";
    color: #fff;
  }
  





.header1 {
    --background: #9D4CDF;
     ion-toolbar {
        --background: #9D4CDF;
        border-bottom: solid 1px #ddd;
        ion-title {
            font-size: 17px;
            color: #fff;
            text-align: center;
            position: absolute;
            padding: 0 90px 1px;
            width: 100%;
            height: 100%;
            left: 0;
            //right: 0;
            top: 0;
            font-weight: 600;
            z-index: -1;
        }
        ion-icon{
            margin: 10px;
        }
         span {
             font-size: 16px;
             padding: 0 15px;
             &:before{
                 color: white;
             }
             img{
                 filter: invert(1);
             }
         }
         ion-back-button{
             color: white;
         }
     }
     &:after {
         background-image: none !important;
     }
 }
 .header3 {
    --background: #9D4CDF;
     ion-toolbar {
        --border-width: 0 !important;
        --padding-start: 0px;
        --padding-end: 0px;
        --padding-bottom: 0px;
        --background: #9D4CDF;
        border-bottom: solid 1px #ddd;
         ion-title {
             font-size: 17px;
             color: #fff;
             text-align: center;
             position: absolute;
             width: 100%;
             left: 0;
             right: 0;
            //top: 17px;
             font-weight: 600;
             //z-index: -1;
         }
         span {
             font-size: 16px;
             padding: 0 15px;
             &:before{
                 color: white;
             }
             img{
                 filter: invert(1);
             }
         }
         ion-back-button{
             color: white;
         }
     }
     &:after {
         background-image: none !important;
     }
 }
 .header2 {
   // --background: #9D4CDF;
   --border-width: 0 !important;
   border-bottom: solid 0px rgb(255, 251, 251);
   --padding-start: 0px;
        --padding-end: 0px;
        --padding-bottom: 0px;
   box-shadow: none;
     ion-toolbar {
        --border-width: 0 !important;
        --padding-start: 0px;
        --padding-end: 0px;
        --padding-bottom: 0px;
      //  --background: #9D4CDF;
        border-bottom: solid 0px rgb(255, 251, 251);
        box-shadow: none;
         ion-title {
             font-size: 17px;
             color: #fff;
             text-align: center;
             position: absolute;
             width: 100%;
             left: 0;
             right: 0;
            //top: 17px;
             font-weight: 600;
             z-index: -1;
         }
         span {
             font-size: 16px;
             padding: 0 15px;
             &:before{
                 color: white;
             }
             img{
                 filter: invert(1);
             }
         }
         ion-back-button{
             color: white;
         }
         .header-ios ion-toolbar:last-of-type {
            --border-width: 0 !important;
            }
     }
     &:after {
         background-image: none !important;
     }
     .header-ios ion-toolbar:last-of-type {
        --border-width: 0 !important;
        }
 }

ion-footer {
    &:before {
        background-image: none !important;
    }
}

.cus_btn {
    display: block;
    --background: #9D4CDF;
    --border-radius: 10px;
    --color: white;
    --box-shadow: none;
    margin: 10px 15px;
    font-family: 'SF UI Text Semibold';
    height: 50px;
}

ion-checkbox {
    --border-radius: 4px !important;
    --border-color: #9D4CDF !important;
    --ion-color-base: #9D4CDF !important;
    --background-checked: #fff;
    --border-color-checked: #9D4CDF;
    --checkmark-color: #9D4CDF;
    --checkmark-width: 2px;
}

 .modal-wrapper { background-color: transparent; }
 ion-modal {
    --background: #0000005e !important;
}
.ratingCust{
    display: flex !important;
    // justify-content: flex-end !important;
    align-items: center !important;
    ion-button{
        --padding-start: 0px !important;
          --padding-end: 0px !important;
          width: auto !important;
          ion-icon{
            font-size: 10px !important;
          }
      }
}


.localnotify{

    --background: #fff !important;
    --color: #000 !important;
    --button-color: #9D4CDF !important; 
    
}