<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Search</ion-label>
        <ion-searchbar></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="listing">
    <div class="list_box">
      <h2>Recent Searches</h2>
      <p> taco</p>
    </div>
    <div class="list_box">
      <h2>Trending Searches</h2>
      <p> taco</p>
      <p> taco</p>
      <p> taco</p>
    </div>  
   </div> 

</ion-content>
