<ion-header class="header1">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button><span class="icon-menu"></span></ion-menu-button>
        </ion-buttons>
        <ion-title>Account</ion-title>
        <!-- <ion-icon slot="end"  (click)="editProfile()">
        </ion-icon> -->
        <ion-buttons slot="end">
            <ion-icon style="color: white; font-size: 20px;" class="fii-2 icon-edit" (click)="editProfile()"></ion-icon>
        </ion-buttons>
        <!-- <ion-img slot="end" src='assets/img/edit.png' (click)="editProfile()"></ion-img> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="s_top">
        <img src="{{ userDetail?.profile_image ? imagebaseurl+userDetail?.profile_image : 'assets/img/svg/user.svg'}}" onerror="this.src='../../assets/img/svg/user.svg'" alt="">

        <h4 style="margin-top: 20px; font-weight: bold;">{{userDetail?.name}}</h4>
        <h5>{{userDetail?.email}}</h5>
    </div>
    <ion-list>
        <!-- <ion-item lines="none" (click)="editProfile()">
            <ion-label>Edit Profile</ion-label>
            <span class="icon-Arrow-right" slot="end"></span>
        </ion-item> -->
        <ion-item lines="none" (click)="changePassword()">
            <ion-label>Change Password</ion-label>
            <span class="icon-Arrow-right" slot="end"></span>
        </ion-item>

        <ion-item  lines="none" >
            <ion-label class="lable" (click)="notifications()">Notifications
                <ion-badge *ngIf="notification_count>0">{{notification_count}}</ion-badge> </ion-label>
                <span class="icon-Arrow-right" slot="end"></span>
            <!-- <ion-toggle slot="end"  checked></ion-toggle> -->
        </ion-item>
        
        <!-- <ion-item lines="none" routerLink="/manage-payments">
            <ion-label>Manage Payments</ion-label>
            <span class="icon-Arrow-right" slot="end"></span>
        </ion-item> -->
        <ion-item lines="none" (click)="aboutus()">
            <ion-label>About Us</ion-label>
            <span class="icon-Arrow-right" slot="end"></span>
        </ion-item>
        <ion-item lines="none" (click)="tandc()">
            <ion-label>Terms & Conditions</ion-label>
            <span class="icon-Arrow-right" slot="end"></span>
        </ion-item>
        <ion-item lines="none" (click)="pandp()">
            <ion-label>Privacy Policy</ion-label>
            <span class="icon-Arrow-right" slot="end"></span>
        </ion-item>
        <!-- <ion-item lines="none" (click)="twofactor()">
            <ion-label>Two - Factor Authentication</ion-label>
            <span class="icon-Arrow-right" slot="end"></span>
        </ion-item> -->
     
        <ion-item lines="none">
            <ion-label>Two - Factor Authentication</ion-label>
            <ion-toggle slot="end" (click) = "changeCheckBox($event)" [(ngModel)]="two_factor" [ngModelOptions]="{standalone: true}" ></ion-toggle>
        </ion-item>
    </ion-list>

</ion-content>