<ion-header class="header1">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button><span class="icon-menu"></span></ion-menu-button>
        </ion-buttons>
        <ion-title>Shopping Lists</ion-title>
       
        <span slot="end" routerLink="/shopping-lists1"> <img src="../../assets/img/svg/add-round.svg" alt=""></span>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="top-hedaer">
        <ion-segment [(ngModel)]="category" mode="md">
            <ion-segment-button checked value="MyList">
                <ion-label>MY LISTS</ion-label>
            </ion-segment-button>
            <ion-segment-button value="SharedList">
                <ion-label>SHARED LISTS</ion-label>
            </ion-segment-button>
        </ion-segment>
    
      </div>
      <div [ngSwitch]="category">
        <app-my-list *ngSwitchCase="'MyList'" [MyList]="list"></app-my-list>
        <app-shared-list *ngSwitchCase="'SharedList'"></app-shared-list>
      </div>
    

</ion-content>